<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/jobs.css">
    <script src="./js/jobs.js" defer></script>
    <title>Jobs</title>
</head>
<body>
    <form class="filters" method="get">
        <div class="filter">
            <h4>Search by keywords</h4>
                <input type="text" name="title" placeholder="Job title...">
        </div>
        <div class="filter">
            <h4>Location area</h4>
                <input type="text" name="location" placeholder="Location area">
        </div>
        <div class="filter">
            <h4>Category</h4>
                <input type="text" name="category" placeholder="Category">
        </div>
        <div class="btn">
            <button type="submit">Search</button>
        </div>
    </form>

    <div class="container">
        <div class="result">
            <h1>Job Title</h1>
            <p>Job Description</p>
            <p>Job Location</p> 
            <p>Job Salary</p>
            <p>Job Date</p>
        </div>
        <div class="result">
            <h1>Job Title</h1>
            <p>Job Description</p>
            <p>Job Location</p> 
            <p>Job Salary</p>
            <p>Job Date</p>
        </div>
    </div>
</body>
</html>