<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/jobs.css">
    <script src="./js/jobs.js" defer></script>
    <title>Jobs</title>
</head>
<body>
    <form class="filters" method="get">
        <div class="filter">
            <h4>Search by keywords</h4>
            <img src="./img/job.png" alt="job-icon" class="icon"><input type="text" name="title" placeholder="Job title...">
        </div>
        <div class="filter">
            <h4>Location area</h4>
            <img src="./img/location.png" alt="job-icon" class="icon"><input type="text" name="location" placeholder="Location area">
        </div>
        <div class="filter">
            <h4>Category</h4>
            <img src="./img/category.png" alt="job-icon" class="icon"><input type="text" name="category" placeholder="Category">
        </div>
        <div class="btn">
            <button type="submit">Search</button>
        </div>
    </form>

    <form class="sort" method="get">
        <div class="sort-options">
            <select name="orderby" id="order">
                <option value="default">Sort (Default)</option>
                <option value="new">Latest</option>
                <option value="old">Oldest one</option>
                <option value="name_high">Name (A -> Z)</option>
                <option value="name_low">Name (Z -> A)</option>
            </select>
            <select name="limit" id="limit">
                <option value="10">Limit (10)</option>
                <option value="20">Limit (20)</option>
                <option value="30">Limit (30)</option>
                <option value="40">Limit (40)</option>
                <option value="50">Limit (50)</option> 
            </select>
        </div>
        <div>
            <button type="submit">Sort</button>
        </div>
    </form>
    <div class="container">
        <div class="result">
            <h3>
                <a href="jobs/job_title">Job Title</a>
            </h3>

            <ul class="job_info">
                <li>
                    <img src="./img/category.png" alt="category" class="iconn">
                    Programming
                </li>
                <li>
                    <img src="./img/location.png" alt="location" class="iconn">
                    Tashkent
                </li>
                <li>
                    <img src="./img/clock.png" alt="clock" class="iconn">
                    04-07-2022
                </li>
                <li>
                    <span class="required">Quickly</span>
                    <span class="time">Permament</span>
                    <span class="money">100$-500$</span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>