* {
    font-family: 'Ubuntu', sans-serif;
}
.search {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F7FC;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    user-select: none;
}

.filter {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.filter h4 {
    font-size: 16px;
}

.search input {
    vertical-align: middle;
    margin: 5px 50px 15px 12px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

.icon {
    width: 20px;
    height: 20px;
}

.iconn {
    width: 15px;
    height: 15px;
    padding-right: 20px;
}

.search button {
    margin-top: 40px;
    margin-right: 20px;
    padding: 10px 50px;
    background-color: #ff9800;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search button:hover {
    background-color: #e9a541;
}

@media (max-width: 800px) {
    .filter input {
        margin: 10px 0;
    }

    .filter {
        flex-direction: column;
        align-items: stretch;
    }
}

.container {
    margin-left: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.container a {
    color: black;
    text-decoration: none;
}

.result {
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.job_info {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.job_info li {
    float: left;
    margin: 10px;
    padding: 10px;
}

.status {
    background-color: #E1F2E5;
    border-radius: 10px;
    color: #39B1A8;
    font-size: 15px;
    padding: 8px;
}

.time {
    background-color: rgb(221, 232, 248);
    border-radius: 10px;
    color: #0076CC;
    font-size: 15px;
    padding: 8px;
}

.money {
    background-color: #FEF2D9;
    border-radius: 10px;
    color: #d7a841;
    font-size: 15px;
    padding: 8px;
}
.sort {
    margin-bottom: 50px;
}
#order {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#limit {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}